.main-container {
  display: flex;
  margin-top: 6rem;
}
/* sidebar */

aside {
  background-color: var(--white);
  width: 20%;
  max-width: 25rem;
  padding: 1rem;
  box-sizing: border-box;
}
.filter-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clear-button {
  border: none;
  background: transparent;
  font-size: 1rem;
  text-decoration: underline;
}
.sidebar-filters {
  margin-bottom: 0.5rem;
}

.prices p {
  margin: 0 0.5rem;
  color: grey;
}
.prices {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.sidebar-filters > * label {
  display: inline;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  background-color: #eaeaec;
  gap: 1.5rem;
  width: 100%;
  justify-items: center;
  padding: 1rem 1rem;
}
.card {
  box-shadow: none !important;
}
.card:hover {
  box-shadow: 4px 4px 4px #9a9a9a !important;
}
